/* *CSS Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

/* *Header */
header {
  display: flex;
  justify-content: center;
  width: 100%;
}
.header-wrapper {
  z-index: 99;
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  position: fixed;
  top: 0;
}
.scroll {
  background: #e74646 !important;
  transition: all ease-in-out 0.3s;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.logo > h1 a {
  font-family: "Pacifico", cursive;
  font-size: 2rem;
  font-weight: bold;
  color: #ffe5ca;
}
.navbar > ul {
  display: flex;
  align-items: center;
  width: 100%;
}

.navbar > ul > li {
  margin: 0 1em;
}

.navbar > ul > li > a {
  font-family: "DynaPuff", cursive;
  color: black;
  font-weight: 700;
  transition: all .3s;
}
.navbar > ul > li > a:hover {
  color: #ffe5ca;
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}
.search > input {
  padding: 1em;
  border: 2px solid black;
  border-radius: 30px;
  font-family: "DynaPuff", cursive;
  background: transparent;
}
.search > input::placeholder {
  color: black;
}
.search > input:focus {
  outline: none;
}
.search > i {
  position: absolute;
  right: 10px;
  margin-left: 0.2em;
  font-size: 2rem;
  font-weight: 700;
  color: black;
}
.bar {
  display: none;
  font-size: 3rem;
  cursor: pointer;
  color: #fff3e2;
}
.active-header {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.navbar-min{
  position: sticky;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #e74646;
  z-index: 999;
}
.navbar-min > ul{
  text-align: center;
}
.navbar-min > ul > li{
  margin: 2em 0;
}
.navbar-min > ul > li > a{
  color: black;
  font-size: 2rem;
  font-family: "DynaPuff", cursive;
}
.navbar-min > ul > li > a:hover{
  color: #ffe5ca;
  transition: all .3s;
}
.close-btn{
  position: absolute;
  top: 1em;
  right: 50;
}
.close-btn > button{
  color: #fff3e2;
  background: transparent;
  font-size: 3rem;
  border: none;
  cursor: pointer;
}

.no-scroll{
  overflow: hidden;
}
/* *Main */
main {
  width: 100%;
}

#hero {
  background: url(assets/images/blob-scene-haikei.svg);
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 10vw;
  font-family: "DynaPuff", cursive;
}
.left,
.right {
  flex-grow: 1;
  flex-basis: 400px;
}
.left > img {
  width: 100%;
  object-fit: cover;
}
.left > h1 {
  font-size: 3rem;
  font-weight: bold;
  color: black;
}
.left span {
  font-family: "Pacifico", cursive;
  font-size: 3rem;
  color: #ffe5ca;
}
.left > button {
  padding: 1em;
  border: 2px solid transparent;
  border-radius: 5px;
  background: black;
  color: #fff3e2;
  cursor: pointer;
  font-family: "DynaPuff", cursive;
  margin-bottom: 3em;
}
.left > button:hover {
  border: 2px solid black;
  color: black;
  background: transparent;
  transition: all ease-in-out 0.3s;
}
.social a {
  margin-right: 0.5em;
  font-size: 2rem;
  color: #ffe5ca;
}
.social i:hover {
  transform: scale(1.3);
  transition: all ease-in-out 0.2s;
}
.right {
  width: 100%;
}
.right > img {
  width: 100%;
  object-fit: cover;
}
/* *About */
#about {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6em 1em;
}
.about-wrapper {
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.about-text > h1 {
  font-family: "DynaPuff", cursive;
  font-size: 2rem;
}
.about-text > p {
  font-family: "DynaPuff", cursive;
  line-height: 1.8rem;
}
.about-text,
.about-img {
  margin: 1em;
  flex-grow: 1;
  flex-basis: 300px;
}
.about-img {
  background: #e74646;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-img > img {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}
.about-img > img:hover {
  transform: scale(1.1);
  transition: all ease-in-out 0.3s;
}
.about-img > h1 {
  position: absolute;
  font-family: "Pacifico", cursive;
  font-size: 3rem;
  color: #fff3e2;
}
/* *Product */
#product {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 6em 1em;
}
.product-wrapper {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product-text > h1 {
  font-family: "DynaPuff", cursive;
  font-size: 2rem;
}
.product-img {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  flex-grow: 1;
  flex-basis: 300px;
}
.card-wrapper {
  border-radius: 10px;
  background: #ffe5ca;
  margin: 1em;
  padding: 0.5em;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.card-wrapper > img {
  border-radius: 10px;
  width: 100%;
  max-height: 250px;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.card-wrapper h2,
p {
  font-family: "DynaPuff", cursive;
}
.card-wrapper-text {
  padding: 1em;
}
.card-wrapper > button {
  padding: 1em;
  border: 2px solid transparent;
  border-radius: 5px;
  background: black;
  color: #fff3e2;
  cursor: pointer;
  font-family: "DynaPuff", cursive;
}
.card-wrapper > button:hover {
  border: 2px solid black;
  color: black;
  background: transparent;
  transition: all ease-in-out 0.3s;
}
/* *Contact */
#contact {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6em 2em;
}
.contact-wrapper {
  background: #fa9884;
  width: 100%;
  text-align: center;
  padding: 1em;
  border-radius: 10px;
}
.contact-text{
  margin-bottom: 2em;
}
.contact-text > h1 {
  font-family: "DynaPuff", cursive;
  font-size: 2rem;
}
.contact-form {
  font-family: "DynaPuff", cursive;
}
.contact-form input {
  padding: 1em;
  margin-bottom: 2.5em;
  border: none;
  border-radius: 10px;
  width: 100%;
  font-family: "DynaPuff", cursive;
}
.contact-form input:focus {
  outline: none;
}
#submit-form {
  padding: 1em;
  border: 2px solid transparent;
  border-radius: 5px;
  background: black;
  color: #fff3e2;
  cursor: pointer;
  font-family: "DynaPuff", cursive;
}
#submit-form:hover {
  border: 2px solid black;
  color: black;
  background: transparent;
  transition: all ease-in-out 0.3s;
}
#status{
  transform: scale(1.5);
}

/* *Footer */
footer {
  background: #e74646;
  width: 100%;
}
.footer-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em;
  font-family: "DynaPuff", cursive;
  color: #fff3e2;
}
.footer-text,
.footer-link,
.footer-contact {
  margin: 1em;
  flex-grow: 1;
  flex-basis: 300px;
  text-align: center;
}
.footer-text p,
.footer-link li,
.footer-contact li,
.footer-link a {
  color: black;
  margin-top: 1em;
}
.footer-link a:hover{
  color: #fff3e2;
  transition: all .3s;
}
.copyright {
  width: 100%;
  text-align: center;
  font-family: "DynaPuff", cursive;
  color: #fff3e2;
  padding: 1em;
}
/* ! Custom */
.w-max {
  max-width: 1200px !important;
}
.mb-1 {
  margin-bottom: 1em !important;
}

/* ! Responsive */
@media all and (max-width: 1000px) {
  nav{
    display: none;
  }
  .bar {
    display: block;
  }
  #hero {
    padding: 20vw 10vw ;
  }
  .about-img > h1 {
    font-size: 2rem ;
  }
  .about-text > h1 {
    font-size: 1.5rem ;
  }
  .product-text > h1 {
    font-size: 1.5rem ;
  }
  .contact-text > h1 {
    font-size: 1.5rem ;
  }
  .card-wrapper > img {
    max-height: 200px ;
  }
  .card-wrapper-text {
    padding: 0.5em ;
  }
  .card-wrapper > button {
    font-size: 1rem ;
    padding: 0.5em ;
  }
  .footer-text p,
  .footer-link li,
  .footer-contact li,
  .footer-link a {
    margin-top: 0.5em ;
  }
}
